*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
}
header{
    position: absolute;
    z-index: 10;
    width: 100%;
    background-color: #0082e2;
}
.navbar{
    padding: 20px 0;
}
.navbar-brand{
    font-size: 25px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
    letter-spacing: .09cm;
}
.navbar-light .navbar-brand{
    color: white;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link{
    color: white;
    border-radius: 7px;
    background: #1b9bff;
    transition: .5s;
}
.navbar-light .navbar-nav .nav-link{
    padding: 5px 15px;
    color: white;
    font-weight: 570;
    font-style: normal;
    margin: 0px 5px;
    font-size: 16px;
}
.banner{
    position: relative;
    /* background-image: url(assets/images/home_bg_image.jpg); */
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 250px 0 200px;
}
.banner h2{
    margin: 0;
    padding: 0;
    font-size: 2.6em;
    font-family: Arial, Helvetica, sans-serif;
    color: #262626;
}
.btnRead{
    display: inline-block;
    margin: 1em 0 0;
    padding: 6px 6px;
    border-radius: 7px;
    background-color: #0082e2;
    color: white;
    text-transform: capitalize;
    border: none;
    font-weight: normal;
}
.btnRead:hover{
    color: rgb(0, 20, 20);
    text-decoration: rgb(22, 248, 248);
}
.navbar-light .navbar-toggler{
    border: none;
    color: rgb(20, 20, 20);
    border: 2px solid gainsboro;
    border-radius: 0;
    outline: none;
}
.navbar-collapse{
    /* background:  rgb(255, 255, 255); */
    padding: 0 ;
}
@media (max-width: 768px)
{
    .navbar-light .navbar-nav .nav-link{
        text-align: center;
    }
    .banner
    {
        padding: 200px 0;
    }
    .banner h2{
        font-size: 1.8em;
    }
}